<div class="message">
  <!-- Avatar -->
  <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-1-user-profile">
    <% if (user.profilePic) { %>
      <img class="avatar-img profile-pic" src="<%= user.profilePic.url %>" alt="<%= user.name %>">
    <% } else { %>
      <i class="icon-md fe-image"></i>
    <% } %>
  </a>

  <!-- Message: body -->
  <div class="message-body">

      <!-- Message: row -->
      <div class="message-row">
          <div class="d-flex align-items-center">

              <!-- Message: content -->
              <div class="message-content bg-light">
                  <!-- <h6 class="mb-2"><%= user.name %></h6> -->
                  <div><%= message %></div>

                  <div class="mt-1">
                      <small class="opacity-65"><%= timeAgo %></small>
                  </div>
              </div>
              <!-- Message: content -->

              <!-- Message: dropdown -->
              <!-- <div class="dropdown">
                  <a class="text-muted opacity-60 ml-3" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fe-more-vertical"></i>
                  </a>

                  <div class="dropdown-menu">
                      <a class="dropdown-item d-flex align-items-center" href="#">
                          Edit <span class="ml-auto fe-edit-3"></span>
                      </a>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                          Share <span class="ml-auto fe-share-2"></span>
                      </a>
                      <a class="dropdown-item d-flex align-items-center" href="#">
                          Delete <span class="ml-auto fe-trash-2"></span>
                      </a>
                  </div>
              </div> -->
              <!-- Message: dropdown -->

          </div>
      </div>
      <!-- Message: row -->

  </div>
  <!-- Message: body -->
</div>
