<div class="card mb-6 mb-lg-8">
  <div class="card-header position-relative">
      <a href="#" class="text-reset d-block stretched-link collapsed" data-toggle="collapse" data-target="#profile-settings-account" aria-controls="profile-settings-account" aria-expanded="true">
          <div class="row no-gutters align-items-center">
              <!-- Title -->
              <div class="col">
                  <h5>Account</h5>
                  <p>Update your profile details.</p>
              </div>
              <!-- Icon -->
              <div class="col-auto">
                  <i class="text-muted icon-md fe-user"></i>
              </div>
          </div>
      </a>
  </div>
  <div id="profile-settings-account" class="collapse show" data-parent="#profile-settings">
      <div class="card-body">
          <div class="form-group">
              <label class="small">Avatar</label>
              <form class="dropzone-profile" data-dz-url="/profile/upload">
                <div class="position-relative text-center bg-secondary dropzone rounded p-6">
                    <div class="avatar bg-primary text-white mb-5">
                      <% if (user.profilePic) { %>
                        <img class="avatar-img" src="<%= user.profilePic.url %>" alt="">
                      <% } else { %>
                        <i class="icon-md fe-image"></i>
                      <% } %>
                    </div>
                    <p class="small text-muted mb-0">You can upload jpg, gif or png files. <br> Max file size 3mb.</p>
                    <input id="upload-user-photo" class="d-none dropzone-button-js dz-clickable" type="button">
                    <label class="stretched-label mb-0" for="upload-user-photo"></label>
                </div>
              </form>
          </div>

          <div class="form-group">
              <label class="small" for="profile-name">Name</label>
              <input class="form-control form-control-lg" name="profile-name" id="profile-name" type="text" value="<%= user.name %>" placeholder="Type your name">
          </div>

          <div class="form-group">
              <label class="small" for="profile-phone">Mobile</label>
              <input class="form-control form-control-lg" name="profile-mobile" id="profile-phone" type="text" value="<%= user.mobile %>" placeholder="(+91) 00-0000-0000">
          </div>

          <div class="form-group">
              <label class="small" for="profile-email">Email</label>
              <input class="form-control form-control-lg" name="profile-email" id="profile-email" value="<%= user.email %>" type="email" disabled placeholder="you@yoursite.com">
          </div>

          <div class="form-group">
              <label class="small" for="profile-about">Bio</label>
              <textarea class="form-control form-control-lg" name="profile-bio" rows="3" placeholder="Express yourself" data-autosize="true"
                style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 104px;">
                <%= user.bio %>
              </textarea>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Save Preferences</button>
      </div>
  </div>
</div>
